<ion-header>
  <ion-toolbar>
    <ion-title>Painel do Atendente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-custom ion-padding">
  <div class="atendente-container">
    
    <ion-card class="ion-text-center card-atendimento">
      <ion-card-header>
        <ion-card-subtitle>CHAMANDO AGORA</ion-card-subtitle>
        <h1 class="display-atendimento">{{ senhasService.senhaAtual }}</h1>
      </ion-card-header>
    </ion-card>

    <div class="actions-panel">
      <ion-list-header style="background: transparent;">
        <ion-label color="medium">CHAMAR PRÓXIMO</ion-label>
      </ion-list-header>

      <ion-button expand="block" fill="solid" class="btn-clean sp" (click)="senhasService.atenderSenha('SP')">
        <ion-icon slot="start" name="star"></ion-icon>
        Prioritária
      </ion-button>

      <ion-button expand="block" fill="solid" class="btn-clean sg" (click)="senhasService.atenderSenha('SG')">
        <ion-icon slot="start" name="people"></ion-icon>
        Geral
      </ion-button>

      <ion-button expand="block" fill="solid" class="btn-clean se" (click)="senhasService.atenderSenha('SE')">
        <ion-icon slot="start" name="document-text"></ion-icon>
        Exames
      </ion-button>
    </div>

  </div>
</ion-content>