<ion-header>
  <ion-toolbar>
    <ion-title>Totem de Atendimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-custom ion-padding">
  <div class="main-container">
    
    <ion-card class="ion-text-center card-senha">
      <ion-card-header>
        <ion-card-subtitle>SUA SENHA</ion-card-subtitle>
        <h1 class="display-senha">{{ senhasService.inputNovaSenha || '---' }}</h1>
      </ion-card-header>
    </ion-card>

    <div class="panel-selection">
      <h3 class="panel-title">SELECIONE O TIPO DE ATENDIMENTO</h3>

      <ion-button expand="block" fill="solid" class="btn-clean sp" (click)="senhasService.novaSenha('SP')">
        <ion-icon slot="start" name="star"></ion-icon>
        Prioritária
        
      </ion-button>

      <ion-button expand="block" fill="solid" class="btn-clean sg" (click)="senhasService.novaSenha('SG')">
        <ion-icon slot="start" name="people"></ion-icon>
        Geral
       
      </ion-button>

      <ion-button expand="block" fill="solid" class="btn-clean se" (click)="senhasService.novaSenha('SE')">
        <ion-icon slot="start" name="document-text"></ion-icon>
        Exames
        
      </ion-button>
    </div>

  </div>
</ion-content>